<link rel="stylesheet" href="/styles/header.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    
<header>
    <a class="logo" href="/">Hooks</a>
    <nav>
        <ul class="nav__links navbar-nav">
                <input class="form-control mr-sm-2" type="search" placeholder="Search in Hooks" aria-label="Search" id="header_search">
                <ul class='list-group' id="found_users">
                </ul>
                
            </ul>
    </nav>
        <a class="cta" href="/settings">Settings</a>
    <div class="header_elem">
        <a class="cta ml-2" href="/deleteMyCookie">Log out</a>
    </div>
    <p class="menu cta">Menu</p>
</header>
<div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <input class="form-control mr-sm-2" type="search" placeholder="Search in Hooks" aria-label="Search">
        <a class="cta" href="/">Settings</a>
        <a class="cta" href="/deleteMyCookie">Log out</a>
    </div>
</div>
<script src="/scripts/mobail_header.js"></script>
<script src="/scripts/header_search.js"></script>