footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
footer p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
}