a { 
    color: inherit;
    text-decoration: none;
 }
 li{
    list-style-type: none;
 } 

.flexbox{
    display: flex;
    justify-content: space-around;
}
.user_info{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 20vw;
}
.user_image{ 
    display:block;
    width: 21vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
    border: 6px solid white;

}
.user_name{
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 2rem;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.932);
}
.bio{
    font-family: 'Quattrocento', serif;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    color: rgb(150, 102, 0);
}

.user_info_bar {
    display: flex;
    justify-content: space-around;
    padding:0
}
.user_info_bar li {
    color: #000;
}
.user_info_bar li a:hover{
    color: rgb(255, 0, 0);
}
.user_friends{
    text-align: center;
}
.user_friends li{
    font-size: 1.7rem;
    color: black;
    font-family: 'Yeon Sung', cursive;
}
.user_friends hr{
    width: 85%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.user_viwe_profile{
    color: #000;
    position: absolute;
    bottom: 10px;
    right: 1px;
    width: 100%;
    text-align: center;
  }
.user_viwe_profile a{
    font-family: 'Quattrocento', serif;
    font-size: 1.8rem;
}
.user_viwe_profile a:hover{
    color: rgb(92, 4, 4);
    font-weight: 900;
}
.suggestions{
    display: flex;
    justify-content: center;
}
#online{
    font-size: 1.4rem;
}
.newsfeed{
    flex-grow: 2;
    width: 100%;
}
.newsfeed div{
    margin-top: .5rem;
}
.news_post{
    margin: auto;
    text-align: center;
}
.news_post textarea{
    outline: none;
}
.news_post_send {
    position: absolute;
    right: 8px ;
    top: 15px;
    height: 100%;
}
/* .friends{
    width: 250px;
}
.friends_list{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
.friends_list li{
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #f8f9fa;
    width: 100%;
}
.friends_list li button{
    margin-right: auto;
    margin-left: auto;
}
.friends_list li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */
 .overlayForComments {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45vw; /* Full width (cover the whole page) */
    height: 85vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 30, 30, 0.877); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    }